.container,
.container-fluid,
.rt-container,
.rt-container-fluid,
.container-narrow {
	box-sizing: border-box;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: calc($gutter / 2);
	padding-left: calc($gutter / 2);
	@include clearfix;
}

.rt-container-fluid,
.container-fluid {
	max-width: 100%;
}

@each $breakpoint, $val in $breakpoints {
	@media (min-width: $val) {
		.container {
			max-width: $val;
		}
	}
}

@media (min-width: 1200px) {
	.rt-container,
	.container {
		max-width: $container_width;
	}
}
