html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

p {
	margin: 0 0 20px;
}

main {
	display: block;
}

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

embed,
iframe,
object {
	max-width: 100%;
}

/* Text-level semantics
======================== */

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

code, kbd, tt, var, samp {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.elementor-invisible {
	visibility: visible !important;
}

hr {
	background-color: #eaeaea;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul ul,
ol ul {
	list-style: disc;
}
ul li {
	margin-bottom: 0;
}
ul, ol {
	padding-left: 20px;
}
li > ul, li > ol {
	margin-bottom: 0;
	padding-left: 20px;
}

dt {
	font-weight: bold;
	margin-bottom: 10px;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}
