:root {
	--rt-primary-color: #006D5B;
	--rt-secondary-color: #00473B;
	--rt-title-color: #00030C;
}

//Grid
$columns: 12;
$gutter: 24px;
$spacing: 20;
$container_width: var(--rt-container-width, 1364px);

//Spacing
$paddings: ('pt': 'padding-top', 'pr': 'padding-right', 'pb': 'padding-bottom', 'pl': 'padding-left');
$margins: ('mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');

$allSpacing: 0, 5, 8, 10, 15, 16, 20, 30, 40, 50, 60, 80, 100, 120, 150, 180, 200;
$mediaSpacing: 30, 50, 80, 100, 120, 150;

//Media Queries

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1140px;

$breakpoints: ('sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl);

//Colours

$primary_color: var(--rt-primary-color);
$secondary_color: var(--rt-secondary-color);
$tertiary_color: #00473B;
$title_color: var(--rt-title-color);
$gray10: #F6F6F6;
$gray20: #E5E5E5;
$meta_color: #8F8F8F;
$meta_light: #8F8F8F;
$border_color: #DDDDDD;
$button_color: #006D5B;
$button_text_color: #FFFFFF;
$body_color: #333333;
$body_bg_color: #FFFFFF;

$primary_rgb: var(--rt-primary-rgb);
$secondary_rgb: var(--rt-secondary-rgb);


$white_color: #FFFFFF;
$black_color: #000000;
$meta_overlay_color: #CBCBCB;
$footer_bg_color: #006d5b;
$footer_border_color: #177d6c;

//Headers
$dropdown_width: 240px;
$transparent_menu_color: rgba(255, 255, 255, 0.9);

// custom colours

$colors: (
	'primary': $primary_color,
	'secondary': $secondary_color,
	'white': $white_color,
	'black': $black_color,
);

//Typography

$base_font: var(--rt-body-font, 'Archivo'), sans-serif;
$heading_font: var(--rt-heading-font, 'Archivo'), sans-serif;
$menu_font: var(--rt-menu-font, 'Archivo'), sans-serif;

$base_fs: 16px;

//Animations
$time: 520ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

//nav drawer width
$nav_drawer_width: 350px;
