
.rt-button .btn i:before,
.pagination-list li i,
.swiper-navigation .swiper-button i:before,
.frm-fluent-form .ff-btn-submit i:before,
.rt-service-sidebar ul.menu li a:after,
.rt-service-sidebar .finwave-navbar li a:after,
.service-sidebar-menu ul.menu li a:after,
.service-sidebar-menu .finwave-navbar li a:after,
.service-single .service-single-item ul li:before {
	transform: rotate(180deg);
}


.blog-grid-2 .post-thumbnail-wrap .posted-on {
	right: 5px;
	bottom: 5px;
}
.wp-block-quote {
	border-left-width: 0;
}
