.error-404 {
	@include flex_center(column);

	img {
		height: auto;
		filter: grayscale(1);

		@media(min-width: 992px) {
			max-width: 50%;
			margin-right: -45px;
		}
	}

	.error-info {
		@include flex_center(column);
		gap: 10px;
		padding-top: 40px;
		text-align: center;

		@media(min-width: 992px) {
			max-width: 50%;
		}

		.error-title {
			font-size: 44px;
			margin-bottom: 15px;
			line-height: 1.2;

			@media(min-width: 992px) {
				font-size: 44px;
			}
		}

		p {
			font-size: 24px;
			line-height: 1.2;

			@media(min-width: 992px) {
				font-size: 28px;
			}
		}

		.btn-primary {
			margin-top: 10px;
			display: inline-block;
		}
	}
}
