// Shop page
.woocommerce {
	.price {
		color: $primary_color;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 15px;
		line-height: 1.4;
		del {
			font-size: 17px;
			font-weight: 400;
			opacity: 0.5;
		}
		ins {
			color: $primary_color;
			background-color: transparent;
		}
	}
	select,
	.wc-blocks-components-select .wc-blocks-components-select__container {
		border: 1px solid $border_color;
		border-radius: 6px;
		padding: 5px 24px 5px 12px;
		transition: all 0.21s ease-in-out;
	}
	.woocommerce-ordering {
		margin: 0;
	}
	.woocommerce-ordering select,
	.rtsb-archive-catalog-ordering .woocommerce-ordering select {
		border: 1px solid $border_color;
		border-radius: 6px;
		padding: 5px 24px 5px 12px;
		font-size: 16px;
		font-weight: 500;
		width: initial;
		height: 40px;
		outline: none;
		vertical-align: middle;
	}
}
.woo-shop-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	border: 1px solid $border_color;
	border-radius: 8px;
	margin-bottom: 24px;
	padding: 12px 24px;
	.view-mode {
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 12px;
			@include list_default;
			a {
				font-size: 18px;
				width: 40px;
				height: 40px;
				padding: 0;
				display: grid;
				place-content: center;
				border-radius: 5px;
				border: 1px solid $border_color;
				color: $meta_light;
			}
			.selected {
				a {
					color: $primary_color;
				}
			}
		}
	}
}
.rt-shop-meta .button-text {
	display: none;
}
.woocommerce {
	.star-rating {
		font-size: 14px;
		margin: 0 0 3px;
		&:before {
			content: "SSSSS";
			color: $body_color;
		}
		span:before {
			color: $tertiary_color;
		}
	}
	.woocommerce-review-link {
		color: $body_color;
	}
	.rating-count {
		color: $meta_light;
		font-size: 14px;
	}
	span.onsale {
		background-color: $primary_color;
		color: $white_color;
		border-radius: 6px 0;
		margin: 0;
		padding: 6px 12px;
		min-width: auto;
		min-height: auto;
		line-height: 1;
		font-weight: 500;
		left: 0;
		top: 0;
	}
	ul.products {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 24px;
		li.product {
			float: none;
			flex: 0 0 auto;
			max-width: initial;
			margin: 0;
			padding: 0;
			img {
				margin-bottom: 0 !important;
				transform: scaleX(1);
				transition: all .45s;
			}
			.onsale {
				top: 0;
				right: auto;
				left: 0;
				margin: 0;
			}
			.rt-product-block {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border: 1px solid $border_color;
				border-radius: 8px;
				padding: 15px;
				height: 100%;
				transition: all 0.21s ease-in-out;
				.rt-product-thumb {
					position: relative;
					overflow: hidden;
					border-radius: 6px;
					background-color: $gray20;
					margin-bottom: 17px;
				}
				.rt-shop-meta {
					display: flex;
					gap: 5px;
					flex-wrap: wrap;
					justify-content: center;
					bottom: 0;
					left: 10px;
					opacity: 0;
					position: absolute;
					right: 10px;
					transform: translateY(110%);
					transition: all .4s;
					visibility: hidden;
					> a {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						min-width: 36px;
						height: 36px;
						background-color: $white_color;
						color: $title_color;
						border-radius: 6px;
						font-size: 14px;
						padding: 5px 8px;
						&:hover {
							background-color: $primary_color;
							color: $white_color;
						}
					}
					.action-cart {
						i {
							padding-right: 5px;
						}
					}
				}
				.shop-cat {
					margin-bottom: 12px;
					line-height: 1;
					a {
						color: $body_color;
						font-size: 14px;
						font-weight: 400;
						&:hover {
							color: $primary_color;
						}
					}
				}
				.rt-shop-title {
					font-size: 17px;
					margin-bottom: 10px;
					padding: 0;
					line-height: 1.2;
				}
				.rt-price {
					color: $primary_color;
					font-size: 20px;
					font-weight: 700;
					margin-top: 10px;
					margin-bottom: 0;
					display: flex;
					align-items: center;
					column-gap: 5px;
				}
				&:hover {
					.rt-product-thumb {
						img {
							transform: scale3d(1.1,1.1,1);
						}
					}
					.rt-shop-meta {
						opacity: 1;
						transform: translateY(-10px);
						transition: all .3s cubic-bezier(.08,.27,.04,1.11);
						visibility: visible;
					}
				}
			}
			.rt-product-list {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				flex-direction: row;
				gap: 30px;
				padding: 15px;
				.rt-content-area {
					flex: 1;
					padding: 0;
				}
				.rt-product-thumb {
					margin-bottom: 0;
				}
				.rt-shop-title {
					font-size: 22px;
				}
			}
			.rating-custom,
			.woocommerce-product-rating {
				margin-bottom: 0;
				line-height: 1;
			}
			.rating-custom {
				margin-bottom: 10px;
			}
			.product-rating {
				display: inline-flex;
				align-items: center;
				column-gap: 8px;
				margin-top: 0;
			}
		}
	}
}

.woocommerce ul.products:before {
	display: none;
}
.woocommerce ul.products.columns-2 li.product {
	width: calc(100%/2 - (24px / 2 ) * (2 - 1 ) );
}
.woocommerce ul.products.columns-3 li.product {
	width: calc(100%/3 - (24px / 3 ) * (3 - 1 ) );
}
.woocommerce ul.products.columns-4 li.product {
	width: calc(100%/4 - (24px / 4 ) * (4 - 1 ) );
}
.woocommerce ul.products.columns-5 li.product {
	width: calc(100%/5 - (24px / 5 ) * (5 - 1 ) );
}
.woocommerce ul.products.columns-6 li.product {
	width: calc(100%/6 - (24px / 6 ) * (6 - 1 ) );
}
@media(max-width: 1199px) {
	.product-grid-view ul.products.columns-4 li.product,
	.product-grid-view ul.products.columns-5 li.product,
	.product-grid-view ul.products.columns-6 li.product {
		width: calc(100%/3 - (24px / 3 ) * (3 - 1 ) );
	}
}
@media(max-width: 991px) {
	.product-grid-view ul.products.columns-3 li.product,
	.product-grid-view ul.products.columns-4 li.product,
	.product-grid-view ul.products.columns-5 li.product,
	.product-grid-view ul.products.columns-6 li.product {
		width: calc(100%/2 - (24px / 2 ) * (2 - 1 ) );
	}
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product {
		margin: 0;
	}
}
@media(max-width: 767px) {
	.product-grid-view ul.products.columns-2 li.product,
	.product-grid-view ul.products.columns-3 li.product,
	.product-grid-view ul.products.columns-4 li.product,
	.product-grid-view ul.products.columns-5 li.product,
	.product-grid-view ul.products.columns-6 li.product {
		width: 100%;
	}
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product {
		width: 100%;
	}
	.woocommerce ul.products li.product .rt-product-list {
		display: block;
	}
	.woocommerce ul.products li.product .rt-product-list .rt-product-thumb {
		margin-bottom: 17px;
	}
}
@media(max-width: 575px) {
	.woo-shop-top {
		display: block;
		text-align: center;
	}
	.limit-sort-wrap {
		margin-bottom: 7px;
	}
}

// New in store
.wc-block-grid {
	.wc-block-grid__product-title {
		font-size: 17px;
	}
	.wp-block-button__link {
		font-size: 16px !important;
	}
	.rtsb-wishlist-btn {
		display: none;
	}
}

// button
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled,
.woocommerce #respond input#submit.alt,
.woocommerce #respond input#submit,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce button.button,
.woocommerce a.button.alt,
.woocommerce input.button,
.woocommerce a.button,
.components-button,
.wc-block-components-button,
.mini-cart-footer a.button {
	background: $primary_color;
	color: $white_color;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 500;
	padding: 15px 28px;
	letter-spacing: 0.16px;
	line-height: 1;
	opacity: 1;
	transition: all 0.21s ease-in-out;
}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce input.button:hover,
.woocommerce a.button:hover,
.components-button:hover,
.wc-block-components-button:hover,
.mini-cart-footer a.button:hover {
	color: $white_color;
	background-color: $secondary_color;
}

// Cart page
.wc-block-cart {
	margin-bottom: 0 !important;
	table.wc-block-cart-items {
		border: 1px solid $border_color;
		margin-bottom: 0 !important;
		td {
			text-align: left;
		}
		.wc-block-cart-items__row {
			.wc-block-cart-item__quantity {
				.wc-block-cart-item__remove-link {
					font-size: 14px;
					color: $title_color;
					font-weight: 600;
					&:hover {
						color: $tertiary_color;
					}
				}
			}
		}
		.wc-block-cart-items__header {
			th {
				background-color: $gray20 !important;
				color: $title_color;
				font-size: 15px;
				padding: 16px;
			}
			.wc-block-cart-items__header-product {
				visibility: visible;
			}
		}
	}
	.wc-block-components-product-name {
		font-weight: 600;
	}
	.wc-block-components-product-badge {
		border: none;
		background-color: $tertiary_color;
		color: $title_color;
		display: none;
	}
	.wc-block-components-quantity-selector {
		height: 40px;
		margin-bottom: 0 !important;
	}
	.wc-block-components-product-metadata {
		display: none;
	}
	.wc-block-cart-item__quantity {
		display: flex;
		justify-content: space-between;
	}
	.wc-block-cart-items__row {
		padding: 20px !important;
		.wc-block-components-product-price {
			color: $title_color;
			font-weight: 600;
		}
		.wc-block-cart-item__prices {
			del {
				opacity: 0.5;
			}
			ins {
				background-color: transparent;
				color: inherit;
			}
		}
	}
	.wc-block-components-sidebar {
		.wp-block-woocommerce-cart-order-summary-block {
			background-color: $gray20;
			padding: 30px;
			.wc-block-cart__totals-title {
				color: $title_color;
				font-size: 15px;
				padding: 0 0 12px;
			}
			.wc-block-components-totals-item,
			.wc-block-components-totals-coupon {
				padding: 0;
			}
			.wc-block-components-totals-item {
				color: $title_color;
			}
		}
	}

}
.rtsb-cart-table {
	table th, table td, .wp-block-table td, .wp-block-table th {
		border: none;
	}
}
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
	color: #fff;
	opacity: 1;
	padding: 15px 20px 16px 20px;
}
// Checkout page
.wc-block-components-form .wc-block-components-text-input input,
.wc-block-components-text-input input,
.wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input {
	border: 1px solid $border_color !important;
}
body .is-large .wc-block-checkout__actions {
	padding: 0;
}
body .wc-blocks-components-select .wc-blocks-components-select__container {
	border: 1px solid $border_color !important;
	padding: 0 .5em;
}
body .wc-blocks-components-select .wc-blocks-components-select__label {
	display: none;
}
body .wc-blocks-components-select .wc-blocks-components-select__select {
	padding: 0;
}
body .wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option--checked-option-highlighted {
	box-shadow: unset;
}
body .wc-block-checkout__sidebar .wc-block-components-product-name {
	color: $title_color;
	font-size: 16px;
	font-weight: 700;
}
body .wc-block-checkout__sidebar .wc-block-components-totals-item {
	color: $title_color;
	font-weight: 700;
}
// Quick View
.rtsb-ui-modal .rtsb-modal-wrapper.quick-view-modal .rtsb-modal-content .rtsb-modal-body .summary .product_title {
	color: $title_color;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;
	line-height: 1.2;
}
.rtsb-ui-modal .rtsb-modal-wrapper.quick-view-modal .rtsb-modal-content .rtsb-modal-body .summary .price {
	color: $primary_color;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
	line-height: 1.4;
}
.rtsb-ui-modal .rtsb-modal-wrapper.quick-view-modal .rtsb-modal-content .rtsb-modal-body .summary .price .woocommerce-Price-amount {
	font-size: unset;
}
.rtsb-ui-modal .rtsb-modal-wrapper.quick-view-modal .rtsb-modal-content .rtsb-modal-body .summary .single_add_to_cart_button {
	background-color: $primary_color;
	min-height: 48px;
}
.rtsb-ui-modal .rtsb-modal-wrapper.quick-view-modal .rtsb-modal-content .rtsb-modal-body .summary .single_add_to_cart_button:hover {
	background-color: $secondary_color;
}

// Wishlist
.rtsb-wishlist-content {
	.rtsb-wishlist-table {
		th {
			color: $title_color;
		}
	}
	.rtsb-wl-product-price {
		color: $title_color;
		font-weight: 600;
	}
	del {
		opacity: 0.5;
	}
	ins {
		background-color: transparent;
		color: inherit;
	}
}

// Compare
.rtsb-compare-list {
	.rtsb-compare-field-label {
		color: $title_color;
		font-weight: 600;
	}
	.rtsb-compare-product-price {
		color: $title_color;
		font-weight: 600;
		del {
			opacity: 0.5;
		}
		ins {
			background-color: transparent;
			color: inherit;
		}
	}
}
