/**
 * Dynamic Tagline
 */
.sb-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;

	b {
		display: inline-block;
		position: absolute;
		white-space: nowrap;
		text-decoration: underline;
		left: 0;
		top: 0;

		&.is-visible {
			position: relative;
		}
	}
}

.sb-headline {
	display: inline-block;

	&.clip {
		span {
			display: inline-block;
			color: #E50052;
		}

		.sb-words-wrapper {
			overflow: hidden;
			vertical-align: top;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				width: 5px;
				height: 80%;
				background-color: #E50052;
				animation: blink 0.7s infinite;
				transform: translateY(-50%);
			}
		}

		b {
			opacity: 0;

			&.is-visible {
				opacity: 1;
			}
		}
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/**
 * SB Themes
 */
.sb-themes-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;

	@media (max-width: 991px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 767px) {
		grid-template-columns: repeat(1, 1fr);
	}

	.sb-theme-item {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 0 50px rgba(0, 0, 0, 5%);
		height: 100%;
		overflow: hidden;
		transform: translate(0);
		transition: transform .2s;

		&:hover {
			transform: translateY(-2px);
		}

		img {
			margin: 0;
			width: 100%;
		}

		.item-content {
			display: flex;
			flex-direction: column;
			padding: 25px 30px 30px;
			flex: 1;
		}

		.item-footer {
			margin-top: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: auto;
		}

		.item-title {
			font-size: 20px;
			color: #000;
			margin-bottom: 6px;
			line-height: 1.4;

			a {
				text-decoration: none;
				color: #000;
				transition: all .4s ease;

				&:hover {
					color: #004BFF;
				}
			}
		}

		.theme-update {
			color: #878585;
			font-size: 14px;
			margin-bottom: 20px;
			line-height: 1.2;
		}

		.excerpt {
			line-height: 28px;
		}

		.price {
			font-size: 20px;
			color: #000;
			font-weight: 700;
			line-height: 1;
		}

		.details-btn {
			a {
				font-size: 14px;
				color: #004BFF;
				font-weight: 500;
				line-height: 1;
				text-transform: capitalize;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				gap: 6px;
				position: relative;
				z-index: 1;
				overflow: hidden;
				text-decoration: none;
				cursor: pointer;
				user-select: none;
				background-color: #f1f4ff;
				border-radius: 30px;
				padding: 14px 20px;
				transition: all .3s ease-in-out;

				&:hover {
					background-color: #004BFF;
					color: #fff;
				}
			}
		}
	}
}

