// Counter style

.rt-counter-layout {
	.rt-counter-box {
		position: relative;
		display: inline-block;
		.bg-shape {
			display: inline-block;
			line-height: 1;
		}
		.counter-number {
			display: inline-flex;
			font-size: 100px;
			color: $title_color;
			line-height: 1.2;
			@include transition_default;
		}
		.counter-label {
			font-size: 20px;
			font-weight: 600;
			color: $title_color;
			line-height: 1;
			margin-bottom: 0;
		}
		.counter-gradient {
			-webkit-text-stroke: 2px transparent;
		}
		&:hover {
			.counter-number {
				color: initial;
				-webkit-text-stroke: unset;
			}
		}
	}
}
.rt-counter-layout-1 {
	.counter-blr-shape {
		position: absolute;
		height: 160px;
		width: 160px;
		border-radius: 160px;
		background-color: rgba(186, 241, 130, 0.5);
		filter: blur(125px);
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		z-index: 0;
	}
	.shape-2 {
		background-color: rgba(226, 130, 241, 0.5);
	}
	.shape-3 {
		background-color: rgba(130, 135, 241, 0.5);
	}
	.shape-4 {
		background-color: rgba(130, 241, 208, 0.5);
	}
}
.rt-counter-layout-2 {
	.rt-counter-box {
		.counter-number {
			color: transparent;
			text-decoration: none;
			background-clip: text;
			-webkit-text-stroke: 2px #565656;
			@include transition_default;
		}
	}
}
.rt-counter-layout-3 {
	.rt-counter-box {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 24px;
		.counter-number {
			font-size: 30px;
		}
		.counter-label {
			font-size: 16px;
		}
	}
}
.rt-counter-layout-4 {
	.rt-counter-box {
		display: flex;
		align-items: center;
		column-gap: 12px;
	}
}
