// Download Style

.download-list {
	.item-list + .item-list {
		margin-top: 12px;
	}
	.download-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		background-color: $tertiary_color;
		color: $button_text_color;
		border-radius: 6px;
		padding: 24px 40px;
		font-size: 18px;
		font-weight: 600;
		i {
			display: block;
			font-size: 22px;
			@include transition_default;
		}
		.text {
			display: flex;
			align-items: center;
			column-gap: 12px;
		}
		&:hover {
			.icon {
				i {
					animation: rtDown 2s linear infinite;
				}
			}
		}
	}
}
