.elementor-widget-image-carousel .swiper .swiper-slide figure {
  line-height: 0;
}

// sticky
@media (min-width: 1140px) {
  .shop-builder-sticky {
    align-self: flex-start;
    position: sticky;
    top: 32px;
  }
}

// image over animation
.image-hover-animation {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  img {
    transition: all 520ms ease;
    transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1.01) scaleY(1.01);
  }
  &:hover {
    img {
      transform: perspective(500px) rotateX(0.03deg) rotateY(0deg) scaleX(1.10) scaleY(1.10)
    }
  }
}

.image-hover-animation-01 {
  .elementor-widget-container {
    img {
      transition: all 0.5s cubic-bezier(0.08, 0.27, 0.04, 1.11);
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

// tab style two
.tab-style-1 {
  .e-n-tabs-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    overflow: hidden;
    gap: 24px;
    @media(max-width: 1199px) {
      justify-content: center;
    }
    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: #E6EBF9;
    }
  }
  .e-n-tab-title {
    position: relative;
    .e-n-tab-title-text {
      column-gap: 5px;
    }
    &:after {
      position: absolute;
      content: "";
      left: -50%;
      bottom: -15px;
      height: 3px;
      width: 100%;
      background-color: #E6EBF9;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease-in, left 1s cubic-bezier(0.2, 1, 0.22, 1);
      @media(max-width: 1199px) {
        display: none;
      }
    }
    &[aria-selected=true] {
      &:after {
        background-color: $primary_color;
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .elementor-widget-icon {
    .elementor-icon {
      background-color: $primary_color;
      border-radius: 15px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        filter: brightness(0) invert(1);
        width: 20px;
        height: 20px;

      }
    }
  }
  .e-n-tabs-content {
    display: block;
    > .e-child {
      position: relative;
      overflow: hidden auto;
      transition: opacity 0.5s ease-in, top 1.5s cubic-bezier(0.2, 1, 0.22, 1);
      height: 0;
      opacity: 0;
      top: 20px;
      display: block !important;
      &.e-active {
        height: auto;
        opacity: 1;
        top: 0;
      }
    }
  }
  @media (max-width: 767px) {
    &.e-n-tabs-mobile .e-n-tab-title[aria-selected=true] {
      margin-block-end: 0 !important;
    }
    &.e-n-tabs-mobile .e-n-tabs {
      gap: 35px !important;
    }
    &.e-n-tabs-mobile .e-n-tab-title:not(:first-child) {
      margin-block-start: 0 !important;
    }
  }
}

.tab-style-2 {
  .e-n-tabs-heading {
    img {
      border-radius: 7.12392px;
    }
    .e-n-tab-title[aria-selected=true] {
      box-shadow: 9.31641px 7.45312px 13.9746px #0031A5;
    }
  }
  @media (max-width: 767px) {
    &.e-n-tabs-mobile .e-n-tab-title[aria-selected=true] {
      margin-block-end: 0 !important;
    }
    .e-n-tabs-content {
      margin-bottom: 30px;
    }
  }
  .e-n-tabs-content {
    display: block;
    img {
      border-radius: 12px;
    }
    .e-child {
      padding: 0;
      position: relative;
      overflow: hidden auto;
      transition: opacity 0.5s ease-in, top 1s cubic-bezier(0.2, 1, 0.22, 1);
      height: 0;
      opacity: 0;
      top: 10px;
      display: block !important;
      &.e-active {
        height: auto;
        opacity: 1;
        top: 0;
      }
    }
  }
}

// custom image fix
.special-feature-shape-fix {
  background-position: 10%;
  @media(max-width: 767px) {
    background-position: 10% 10%;
  }
}

// video icon
.hero-action {
  .video-icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 100px;
    background: linear-gradient(180deg, #FF7679 0%, #FB0004 100%);
    margin-right: 15px;
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      border: 1px solid #fff;
      animation: pulse-border 1500ms ease-out infinite;
      z-index: -1;
    }
    &.video-icon:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 1px solid #fff;
      animation: pulse-border 1500ms ease-out infinite;
      z-index: -1;
    }
  }

  span.text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
  }
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.1);
    opacity: 0;
  }
}

// elementor-custom-embed-play
.elementor-custom-embed-image-overlay {
  img {
    background-color: #000719;
    object-position: top center !important;
    opacity: 0.7;
  }
}
.elementor-custom-embed-play {
  svg {
    opacity: 1;
    height: 25px;
    width: 25px;
  }
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 100px;
  background: linear-gradient(180deg, #FF7679 0%, #FB0004 100%);
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: pulse-border 1500ms ease-out infinite;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: pulse-border 1500ms ease-out infinite;
    z-index: -1;
  }
}

// elementor lightbox
.dialog-type-lightbox {
  @media(min-width: 1025px) {
    width: 70%;
  }
  right: 0;
  margin: 0 auto;
  background-color: rgb(124 26 26 / 80%) !important;
}

// section background shape

.rt-blur-shape-layout-1 {
  position: relative;
  z-index: 1;
  @media(min-width: 1441px) {
    &:before {
      position: absolute;
      content: "";
      border-radius: 431px;
      width: 358.13px;
      height: 358.13px;
      left: -96.06px;
      top: 179.08px;
      background: #D7E9FF;
      filter: blur(100px);
      z-index: -1;
    }
    &:after {
      position: absolute;
      content: "";
      width: 379px;
      height: 379px;
      right: 0;
      bottom: 179.08px;
      background: #FFECF2;
      filter: blur(100px);
      z-index: -1;
    }
  }
}