// image box style
.sb-image-box-01 {
  .elementor-widget-image {
    background-color: $white_color;
    border-radius: 20px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.08, 0.27, 0.04, 1.11);
  }
  &:hover {
    .elementor-widget-image {
      box-shadow: 0 5px 24px rgba(0, 75, 255, 0.1);
      transform: translateY(-5px);
    }
    .elementor-heading-title {
      a {
        color: $primary_color;
      }
    }
  }
}

.sb-image-box-02 {
  .elementor-widget-image {
    background-color: $white_color;
    border: 1px solid #DCDCDC;
    border-top: unset;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.08, 0.27, 0.04, 1.11);
    padding: 15px;
    &:hover {
      transform: translateY(-5px);
    }
    img {
      @media(min-width: 768px) {
        max-height: 316px;
        width: 100%;
        object-fit: cover;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: -25px;
      left: -1px;
      width: calc(100% + 2px);
      height: 25px;
      background-image: url(../images/box-dot-top.svg);
      background-repeat: no-repeat;
      background-position: 15px;
      background-color: $white_color;
      border: 1px solid #DCDCDC;
      border-radius: 12px 12px 0 0;
    }
  }
  .elementor-heading-title {
    position: relative;
    margin-top: 10px;
    a {
      position: relative;
      span {
        position: absolute;
        font-size: 10px;
        top: -5px;
        left: calc(100% + 10px);
        color: $white_color;
        padding: 5px 10px;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 1.2;
        @media (max-width: 991px) {
            top: -30px !important;
            left: 50% !important;
            transform: translateX(-50%);
        }
        &.free {
          background: #13C324;
        }
        &.pro {
          background: #FF005C;
        }
      }
    }
  }
  &:hover {
    .elementor-widget-image {
      box-shadow: 0 5px 24px rgba(0, 75, 255, 0.1);
    }
    .elementor-heading-title {
      a {
        color: $primary_color;
      }
    }
  }
}

.sb-image-box-03 {
  .elementor-widget-image {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    img {
      transition: all 520ms ease;
      transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1.01) scaleY(1.01);
    }
  }
  .elementor-heading-title {
    a {
      display: inline;
      padding-bottom: 0;
      background-image: linear-gradient(to bottom, rgba(0, 75, 255, 0.2) 0%, rgba(0, 75, 255, 0.5) 98%);
      background-size: 0 3px;
      background-repeat: no-repeat;
      background-position: left 100%;
      transition: all 0.7s;
    }
  }
  &:hover {
    .elementor-widget-image {
      img {
        transform: perspective(500px) rotateX(0.03deg) rotateY(0deg) scaleX(1.10) scaleY(1.10)
      }
    }
    .elementor-heading-title {
      a {
        background-size: 100% 3px;
      }
    }
  }
}

.sb-image-box-04 {
  .elementor-image-box-img {
    background-color: #ECECEC;
    border-radius: 15px;
    padding: 30px;
    line-height: 0;
    transition: all 0.5s cubic-bezier(0.08, 0.27, 0.04, 1.11);
    img {
      border-radius: 12px;
    }
  }
  &:hover {
    .elementor-image-box-img {
      box-shadow: 0 5px 24px rgba(0, 75, 255, 0.1);
      transform: translateY(-5px);
    }
    .elementor-heading-title {
      a {
        color: $primary_color;
      }
    }
  }
}

.theme-image-bg-shape {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/sp-theme-image-bg-shape.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sb-image-box-05 {
  position: relative;
  overflow: hidden;
  background-color: $white_color;
  border-radius: 20px;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.1);
  padding: 45px 50px 50px;
  transition: all 0.5s cubic-bezier(0.08, 0.27, 0.04, 1.11);
  @media(max-width: 767px) {
    padding: 25px 30px 30px;
  }
  &:hover {
    box-shadow: 0 5px 24px rgba(0, 75, 255, 0.1);
    transform: translateY(-5px);
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/flash_cd_shape.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
  .elementor-widget-image {
    position: relative;
    background-color: $white_color;
    border: 1px solid #DCDCDC;
    border-top: unset;
    border-radius: 0 0 12px 12px;
    padding: 15px;
    img {
      height: 227px;
      width: 100%;
      object-fit: cover;
      @media(max-width: 767px) {
        height: auto;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -25px;
      left: -1px;
      width: calc(100% + 2px);
      height: 25px;
      background-image: url(../images/box-dot-top.svg);
      background-repeat: no-repeat;
      background-position: 15px;
      background-color: $white_color;
      border: 1px solid #DCDCDC;
      border-radius: 12px 12px 0 0;
    }
  }
  .elementor-heading-title br {
    display: block;
  }
}
