// Image style
.rt-image-layout {
	position: relative;
	.rt-image {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 0;
		.rt-img {
			display: block;
		}
		img {
			 object-fit: cover;
		}
		@media (max-width: 1199px) {
			img {
				width: 100%;
			}
		}
	}
	.rt-content {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.rt-image-layout-1 {
	.rt-image {
		position: relative;
		z-index: 1;
	}
}

.center {
	.rt-blr-shape2::after,
	.rt-blr-shape3::after,
	.rt-blr-shape4::after {
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
.right {
	.rt-blr-shape2::after,
	.rt-blr-shape3::after,
	.rt-blr-shape4::after {
		right: 0;
	}
}
.rt-blr-shape {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-color: #EBE89A;
	filter: blur(125px);
	height: 277px;
	width: 277px;
	border-radius: 277px;
	z-index: -1;
}
.rt-blr-shape2::after {
	position: absolute;
	content: "";
	height: 327px;
	width: 545px;
	border-radius: 35px;
	background-color: $gray20;
	bottom: 0;
	z-index: -1;
}
.rt-blr-shape3::after {
	position: absolute;
	content: "";
	height: 570px;
	width: 570px;
	border-radius: 570px;
	background-color: #FFDFD4;
	filter: blur(200px);
	bottom: 0;
	z-index: 0;
}

.rt-blr-shape4::after {
	position: absolute;
	content: "";
	height: 570px;
	width: 570px;
	border-radius: 570px;
	background-color: $gray20;
	bottom: 0;
	z-index: -1;
}
// Gallery

.rt-gallery-item {
	.image-link {
		position: relative;
		overflow: hidden;
		background-color: $title_color;
		i {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			margin: 0 auto;
			text-align: center;
			transform: translateY(-50%);
			visibility: hidden;
			opacity: 0;
			transition: all ease 0.31s;
		}
		img {
			opacity: 1;
			transition: all ease 0.31s;
		}
	}
	&:hover {
		.image-link {
			i {
				visibility: visible;
				opacity: 1;
			}
			img {
				opacity: 0.5;
			}
		}

	}
}
