// Info box css

.rtsb-info-box-01 {
  .elementor-widget-icon-box {
    transition: all 0.5s cubic-bezier(0.08, 0.27, 0.04, 1.11);
    &:hover {
      transform: translateY(-5px);
      .elementor-icon-box-title {
        a {
          color: $primary_color !important;
        }
      }
    }
  }
}

// info box style 02

.rtsb-info-box-02 {
  .elementor-icon-box-wrapper {
    background-color: $gray_color;
    border-radius: 15px;
    padding: 45px;
    transition: all 520ms ease;
    @media(max-width: 767px) {
      padding: 30px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  .elementor-icon-box-icon {
    .elementor-icon {
      background-color: $primary_color;
      border-radius: 6px;
      font-size: 17px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}