// Opening Hour

.rt-opening-hour {
	ul {
		@include list_default();
		li {
			&:not(:last-child) {
				border-bottom: 1px solid #17423E;
				padding-bottom: 12px;
				margin-bottom: 13px;
			}
			&.opening-list {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
		}
	}
}
