// section title css
.text-bold {
	.elementor-heading-title {
      span {
        font-weight: 700;
      }
    }
}

.elementor-heading-title {
  .type-wrap {
    display: inline-block;
    background-color: #E50052;
    font-weight: 400;
    padding: 0 12px;
  }
  a {
    &:hover {
      color: $primary_color;
    }
  }
}

@media(max-width: 991px) {
  .elementor-widget-text-editor,
  .elementor-heading-title {
    br {
      display: none;
    }
  }
}