// section title css
.text-bold {
	.elementor-heading-title {
      span {
        font-weight: 700;
      }
    }
}

.elementor-heading-title {
  a {
    &:hover {
      color: $primary_color !important;
    }
  }
}

@media(max-width: 991px) {
  .elementor-widget-text-editor,
  .elementor-heading-title {
    br {
      display: none;
    }
  }
}