// tab style two
.tab-style-1 {
	.e-n-tabs-heading {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding-bottom: 15px;
		overflow: hidden;
		gap: 24px;
		@media(max-width: 1199px) {
			justify-content: center;
		}

		&:after {
			position: absolute;
			content: "";
			left: 0;
			bottom: 0;
			height: 3px;
			width: 100%;
			background-color: #E6EBF9;
		}

		.e-n-tab-title {
			position: relative;

			&:after {
				position: absolute;
				content: "";
				left: -50%;
				bottom: -15px;
				height: 3px;
				width: 100%;
				background-color: #E6EBF9;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.5s ease-in, left 1s cubic-bezier(0.2, 1, 0.22, 1);
				@media(max-width: 1199px) {
					display: none;
				}
			}

			&[aria-selected=true] {
				&:after {
					background-color: $primary_color;
					left: 0;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.elementor-widget-icon {
		.elementor-icon {
			background-color: $primary_color;
			border-radius: 15px;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 20px;
				height: 20px;
				fill: $white_color;

				path {
					fill: $white_color;
				}
			}
		}
	}

	.e-n-tabs-content {
		display: block !important;

		> .e-child {
			position: relative;
			overflow: hidden auto;
			transition: opacity 0.5s ease-in, top 1.5s cubic-bezier(0.2, 1, 0.22, 1);
			height: 0;
			opacity: 0;
			top: 20px;
			display: block !important;

			&.e-active {
				height: auto;
				opacity: 1;
				top: 0;
			}
		}
	}

	@media (max-width: 767px) {
		&.e-n-tabs-mobile .e-n-tab-title[aria-selected=true] {
			margin-block-end: 0 !important;
		}
		&.e-n-tabs-mobile .e-n-tabs {
			gap: 35px !important;
		}
		&.e-n-tabs-mobile .e-n-tab-title:not(:first-child) {
			margin-block-start: 0 !important;
		}
	}

	@media(max-width: 1199px) {
		.e-n-tabs-heading {
			gap: 10px;
			.e-n-tab-title {
				border: 1px solid $border_color;
				border-radius: 6px;
				padding: 9px 12px;
				justify-content: flex-start;
			}
			&:after {
				display: none;
			}
		}
	}
}

#content {
	.tab-style-2 {
		.e-n-tabs-heading {
			img {
				border-radius: 7.12392px;
			}

			.e-n-tab-title[aria-selected=true] {
				box-shadow: 9.31641px 7.45312px 13.9746px #0031A5;
			}
		}

		@media (max-width: 767px) {
			.e-n-tab-title {
				margin-block-end: 0 !important;
				margin-block-start: 0 !important;
				height: 70px !important;
			}
			.e-n-tabs-content {
				margin-bottom: 30px;
			}

			.e-n-tabs-heading {
				display: flex;
				order: 2;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
			}
		}

		.e-n-tabs-content {
			display: block;

			img {
				border-radius: 12px;
			}

			.e-child {
				padding: 0;
				position: relative;
				overflow: hidden auto;
				transition: opacity 0.5s ease-in, top 1s cubic-bezier(0.2, 1, 0.22, 1);
				height: 0;
				opacity: 0;
				top: 10px;
				display: block !important;

				&.e-active {
					height: auto;
					opacity: 1;
					top: 0;
				}
			}
		}
	}
}

.sb-filter-track {
	.e-n-tabs-heading {
		@media only screen and (min-width: 1200px) {
			.sb-filter-item-track {
				position: absolute;
				content: "";
				left: -50%;
				bottom: 0;
				height: 3px;
				width: 100%;
				background-color: $primary_color;
				z-index: 1;
				transition: opacity 0.5s ease-in, left 1s cubic-bezier(0.2, 1, 0.22, 1);
				will-change: left, width;
			}

			.e-n-tab-title {
				&::after {
					content: none !important;
				}
			}
		}
	}

	@media only screen and (max-width: 1199px) {
		.sb-filter-item-track {
			display: none !important;
		}
	}

	.e-n-tab-title-text {
		img {
			margin-right: 7px;
			border-radius: 0;
			width: 18px;
		}
	}
}
