/* Footer Copyright
***************************/
.footer-copyright-wrapper {
	position: relative;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $body_color;
	border-top: 1px solid $border_color;
	font-size: clamp(14px, 4vw, 15px);
	.copyright-text {
		text-align: center;
		line-height: 1.4;
	}
	.payment-text {
		display: flex;
		column-gap: 5px;
		flex-wrap: wrap;
		color: $meta_color;
		font-size: 14px;
		@media(max-width: 767px) {
			display: none;
		}
	}
	a {
		color: $primary_color;
		&:hover {
			color: $secondary_color;
		}
	}
	.copy-right-wrap {
		justify-content: space-between;
	}
}
