/* Footer Menu Wrapper
***************************/

.site-footer {
	.footer-menu-wrapper {
		border-top: 1px solid $gray20;

		.finwave-footer-1 & {
			.align-default {
				justify-content: center;
			}
		}
	}

	.finwave-navigation ul > li > ul.depth_0 {
		bottom: 100%;
		top: auto;
	}

	.finwave-navigation ul li ul li ul {
		left: 100%;
		top: auto;
		bottom: 0;
	}

}
