/* Footer Widget wrapper
***************************/
.site-footer {
	overflow: hidden;
	z-index: 2;
}
.footer-widgets-wrapper {
	padding-top: 100px;
	padding-bottom: 80px;
	font-size: 15px;
	@media(max-width: 767px) {
		padding-top: 60px;
		padding-bottom: 30px;
	}

	//Default widgets overwrite
	.footer-widgets {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		.widget-title, .widgettitle {
			font-size: 20px;
			margin-bottom: 20px;
		}

		> .widget {
			flex-grow: 25;
		}

		.footer-logo {
			margin-bottom: 8px;
		}

		ul {
			list-style: none;
			padding-left: 0;

			ul {
				padding-left: 20px;
			}
		}
	}
}
.site-footer {
	.footer-shortcode {
		margin-top: 24px;
	}
	.footer-widget-logo {
		img {
			margin-bottom: 15px;
		}
	}

	.footer-social:not(:has(*)) {
		background: red;
		padding: 15px;
	}

	.tagcloud {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		a {
			color: $primary_color;
			background: $gray_color;
			border-radius: 6px;
			display: inline-block;
			font-size: 16px!important;
			margin: 0;
			padding: 8px 18px;
			line-height: 1.4;
			&:hover {
				background-color: $secondary_color;
				color: $button_color;
			}
		}
	}

	.widget_nav_menu,
	.widget_archive,
	.widget_categories,
	.widget_pages,
	.widget_meta {
		ul {
			li {
				a {
					position: relative;
					&:before {
						background-color: $primary_color;
						position: absolute;
						content: "";
						bottom: 1px;
						right: 0;
						height: 1px;
						width: 0;
						opacity: 0;
						transition: 0.5s;
					}
					&:hover {
						&:before {
							width: 100%;
							left: 0;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
