.ham-burger {
	.menu-bar {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		column-gap: 12px;
		padding: 0;
		@include transition_default();
	}
	.menu-label {
		color: $title_color;
		font-weight: 600;
	}
	.btn-hamburger {
		display: flex;
		flex-direction: column;
		justify-content: right;
		align-items: end;
		border: 1px solid $meta_color;
		border-radius: 3px;
		padding: 7px;
		span {
			display: block;
			width: 20px;
			height: 2px;
			margin-bottom: 5px;
			background-color: $meta_color;
			border-radius: 12px;
			transition: all 120ms ease;
			&:nth-child(2) {
				width:16px;
			}
			&:nth-child(3) {
				width:12px;
			}
			&:nth-child(3) {
				margin-bottom: 0;
			}
		}
	}

	.is-open {
		.btn-hamburger {
			span {
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(1) {
					transform: rotate(45deg)translate(5px,5px);
				}
				&:nth-child(3) {
					transform: rotate(-45deg)translate(5px,-5px);
					width: 20px;
				}
			}
		}
	}
}