/* Off canvas drawer */
.finwave-offcanvas-drawer {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	height: 100vh;
	justify-content: space-between;
	padding: 40px;
	width: $nav_drawer_width;
	margin-left: - $nav_drawer_width;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $body_bg_color;
	color: $body_color;
	z-index: 99999;
	box-sizing: border-box;
	transition: 0.4s ease-in-out;
	max-width: 100%;
	overflow: auto;

	&.is-open {
		margin-left: 0;
	}

	.offcanvas-logo {
		.rt-site-logo {
			display: none !important;
		}
		.rt-mobile-logo {
			display: block !important;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav ul li a {
		padding: 8px 40px 8px 0;
		display: block;
		position: relative;
		font-size: 16px;
		font-weight: 700;
		color: $title_color;
		line-height: 1.3;

		&:hover {
			@extend .tertiaryColor;
		}
	}
	nav ul li ul a {
		font-size: 15px;
		font-weight: 600;
	}

	ul li.current-menu-item > a,
	ul li.current-menu-ancestor > a {
		@extend .tertiaryColor;
	}

	.caret {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 26px;
		height: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $gray20;
		border-radius: 50%;
		svg {
			fill: $title_color;
		}
	}
	ul > li {
		&.is-open {
			> a > .caret {
				> svg {
					transform: rotate(180deg);
				}
			}
		}
	}

	ul ul {
		padding-left: 30px;
	}

	.offcanvas-navigation li > ul {
		display: none;
	}
	.offcanvas-logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.trigger-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			font-size: 26px;
			cursor: pointer;
			color: $button_color;
			background: $primary_color;
			border-radius: 50%;
			z-index: 1;
		}
	}
}

.finwave-body-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	z-index: 99990;
	cursor: pointer;
	transition: 0.4s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.finwave-offcanvas-drawer.is-open + .finwave-body-overlay {
	opacity: 1;
	visibility: visible;
}
.offcanvas-address {
	label {
		display: block;
		color: $title_color;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
		font-weight: 700;
		width: 100%;
	}
	.offcanvas-info {
		margin-bottom: 24px;
		li {
			display: flex;
			align-items: baseline;
			column-gap: 8px;
			margin-bottom: 10px;
			color: $body_color;
		}
		a {
			color: $body_color;
			&:hover {
				color: $primary_color;
			}
		}
		svg {
			width: 14px;
			height: 14px;
		}
	}
	.offcanvas-social-icon {
		display: flex;
		flex-wrap: wrap;
		column-gap: 7px;
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 38px;
			width: 38px;
			border-radius: 38px;
			border: 1px solid $border_color;
			color: $meta_color;
			overflow: hidden;
			svg {
				fill: $meta_color;
				width: 15px;
				height: 15px;
			}
			&:hover {
				svg {
					animation: headShake 1.5s;
				}
			}
		}
	}
}
