/*========================================
//  HeadRoom Sticky
==========================================*/
.site-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	&.scrolling {
		background-color: #011040;
		box-shadow: 6px 6px 32px 0 rgba(0, 80, 191, 0.08);
	}
}

.admin-bar {
	.site-header {
		top: 32px;
		@media (max-width: 782px) {
			top: 46px;
		}
	}
}
.headroom {
	will-change: transform;
	transition: transform 250ms ease-in-out;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}
.header--not-top.headroom--pinned {
	transform: translateY(calc(86px - 100%));
}
