/* Topbar Navigation
***************************/
.finwave-topbar {
	font-size: 14px;
	border-bottom: 1px solid rgba($black_color, 0.1);
	background-color: $primary_color;
	color: $meta_light;
	min-height: 50px;
	display: flex;
	align-items: center;

	@media(max-width: 650px) {
		.topbar-right {
			padding: 5px 0;
		}
	}
	.topbar-row {
		justify-content: space-between;
		@media(max-width: 991px) {
			justify-content: center;
		}
	}

	.topbar-left {
		span {
			position: relative;
			display: flex;
			align-items: center;
			column-gap: 8px;
			&:not(:last-child):before {
				content: "";
				height: 5px;
				width: 5px;
				background-color: #8DA4A2;
				position: absolute;
				top: 12px;
				right: -18px;
				border-radius: 50%;
			}
		}
		svg {
			fill: $meta_light;
			width: 15px;
			height: 15px;
		}
		a {
			color: $meta_light;
			&:hover {
				color: $tertiary_color;
			}
		}
		@media(max-width: 767px) {
			justify-content: center;
		}
	}

	.social-icon {
		display: inline-flex;
		align-items: center;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: inherit;
			width: 50px;
			height: 50px;
			border-right: 1px solid rgba($white_color, 0.1);

			&:hover svg {
				fill: $tertiary_color;
			}
		}

		[class*=rticon] svg {
			width: 15px;
			height: 15px;
			fill: $meta_light;
		}
	}
}

.has-trheader .site-header .finwave-topbar * {
	color: $meta_light;
}
