/*========================================
//  HeadRoom Sticky
==========================================*/
.site-header {
	&.scrolling {
		background-color: $body_bg_color;
		box-shadow: 6px 6px 32px 0 rgba(0, 80, 191, 0.08);
	}
}
.has-trheader {
	.site-header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		background-color: transparent;
	}
}
.has-sticky-header {
	.site-header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}
	&.tr-header-dark {
		.site-header {
			&.scrolling {
				background-color: $body_bg_color;
			}
		}
	}
	&.tr-header-light {
		.site-header {
			&.scrolling {
				background-color: $primary_color;
			}
		}
	}
}

.admin-bar.has-trheader,
.admin-bar.has-sticky-header {
	.site-header {
		top: 32px;
		@media (max-width: 782px) {
			top: 46px;
		}
	}
}
.headroom {
	will-change: transform;
	transition: transform 250ms ease-in-out;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}
.header--not-top.headroom--pinned {
	transform: translateY(calc(86px - 100%));
}
