/* Transparent Header */
.has-trheader {
	&.has-menu-shadow .site-header {
		&::before {
			content: "";
			background: rgba(0, 0, 0, 0);
			background: -webkit-linear-gradient(top, rgb(0 0 0 / 58%) 0%, rgba(0, 0, 0, 0) 100%);
			background: linear-gradient(to bottom, rgb(0 0 0 / 68%) 0%, rgba(0, 0, 0, 0) 100%);
			top: 0;
			position: absolute;
			width: 100%;
			height: 220px;
			z-index: -1;
			pointer-events: none;
		}
	}
	.site-header {
		.finwave-navigation ul li a svg {
			opacity: 0.7;
		}
	}
}

.tr-header-light {
	.light-logo {
		display: block;
	}
	.dark-logo, .rt-mobile-logo {
		display: none;
	}
	.finwave-navigation .menu-main-menu-container {
		> ul {
			> li {
				> a {
					color: $white_color;

					svg {
						fill: $white_color
					}
				}
			}
		}
	}

	.ham-burger {
		.btn-hamburger {
			span {
				background-color: $white_color;
			}
		}
		.menu-label {
			color: $white_color;
		}
	}

	.menu-icon-wrapper {
		a svg {
			fill: $white_color;
		}

		.ham_burger {
			.line {
				stroke: $white_color;
			}
		}
		.has-separator li:not(:last-child):after {
			background-color: $white_color;
		}
	}
}

