//Meta Above Title
.separate-meta {
	margin-bottom: 5px;

	a {
		background-color: $gray_color;
		color: $primary_color;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 600;
		padding: 8px 14px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 0 4px 4px 0;
		line-height: 1.2;
		&:hover {
			background: $primary_color;
			color: $button_text_color;
		}
	}

	.sp {
		display: none;
	}

	.above-meta-style-border & {
		a {
			height: 100%;
			border: 1px solid $primary_color;
			padding: 4px 10px;
			line-height: 1.2;
			background: $white_color;
			@extend .primaryColor;
			&:hover {
				@extend .primaryBG;
				@extend .whiteColor;
			}
		}
	}

}
