// Service Sidebar
.service-sidebar-menu,
.service-sidebar-menu2{
	.finwave-navigation {
		display: block;
	}
}
.rt-service-sidebar, .service-sidebar-menu, .service-sidebar-menu2 {
	ul.menu,
	.finwave-navbar {
		li {
			padding-bottom: 0;
			a {
				position: relative;
				display: block;
				color: $primary_color;
				background-color: $gray20;
				border-radius: 6px;
				padding: 22px 26px;
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				z-index: 1;
				&:after {
					position: absolute;
					right: 24px;
					font-size: 12px;
					font-weight: 500;
					content: "\e858";
					font-family: "rt-fontello";
				}
				&:before {
					display: none;
				}
				&:hover {
					background-color: $primary_color;
					color: $button_color;
				}
			}
		}
	}
	.frm-fluent-form {
		.ff-el-input--label {
			display: none;
		}
		.ff-el-form-control {
			font-size: 15px;
		}
		input {
			height: 55px;
		}
		.ff-btn-submit {
			font-size: 16px;
			font-weight: 700;
			width: 100%;
			padding: 18px 30px;
			border-radius: 6px;
			letter-spacing: 0.5px;
			background-color: $primary_color;
			color: $button_color;
			&:hover {
				background-color: $secondary_color;
				color: $button_color;
			}
		}
		.ff-el-form-check-label {
			font-size: 15px;
			line-height: 1.6;
		}
	}
}
