//Style 3
.single-post.finwave-single-3 {
	.content-area {
		padding-top: 0;
	}
	.content-top-area {
		position: relative;
		padding: 0;
		.post-thumbnail-wrap {
			height: 840px;
			overflow: hidden;
			z-index: 0;
			@media(max-width: 767px) {
				height: 400px;
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .5);
				z-index: 2;
			}
		}
		.single-top-header {
			position: absolute;
			bottom: 100px;
			left: 0;
			right: 0;
			width: 100%;
		}
		.separate-meta {
			a {
				background-color: $primary_color;
				color: $button_color;
				border: none;
				&:hover {
					background-color: $secondary_color;
					color: $button_color;
				}
			}
		}
		.wp-caption-text {
			position: absolute;
			right: 24px;
			bottom: 9px;
			background-color: rgba(0, 0, 0, 0.3);
			color: $white_color;
			padding: 5px 16px;
		}
		.post-thumbnail {
			position: relative;
			img {
				border-radius: 0;
				height: 100%;
			}
		}

		.entry-title {
			@extend .whiteColor;
		}

		.rt-post-meta {
			@extend .whiteColor;

			a,
			li:before {
				@extend .whiteColor;
			}

			a:hover {
				color: $primary_color;
			}
		}
	}
}
