// Header Style

$dropdown_top_bottom_margin: 10px;

@media (min-width: 1200px) {
	.header-mobile {
		display: none;
	}
}
@media (max-width: 1199px) {
	.header-desktop {
		display: none;
	}
}

.site-branding {
	display: flex;
	align-items: center;
	font-size: 28px;
	font-weight: 700;

	h1 {
		margin: 0;
	}

	h1 a {
		display: flex;
		@extend .primaryColor;
		padding: 10px 0;
		font-weight: bold;
		transition: color 0.4s;
	}

	h1 a:hover {
		color: $secondary_color;
	}
}
.site-header {
	position: relative;
	z-index: 9;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}
.main-header-section {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.site-header {
	.rt-container::after,
	.row::after {
		display: none;
	}
}
// mobile header
.mobile-header-section {
	.navigation-menu-wrap {
		justify-content: space-between;
	}
}

@import "navigation";
@import "parts/_header-megamenu";
@import "parts/_header-sticky";
@import "parts/_hamburg-menu";
@import "parts/_header-offcanvas";
