$widget_li_space: 8px;
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 30px;
	overflow: hidden;
}

.widget a {
	color: $body_color;
}

.widget a:hover {
	@extend .primaryColor;
}

.widget {
	ul, ol {
		padding-left: 0;
		ul, ol {
			padding-left: 20px;
		}
	}
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
	margin-left: -10px;
	margin-right: -10px;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding: 0 5px;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

@media (max-width: 992px) {

	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item {
		max-width: 45.1%;
	}

	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 22%;
	}
}

@media (max-width: 550px) {
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 45.1%;
	}
}


/*------------------------
  Sidebar Widget
-------------------------*/

/*------ List ----------*/

.widget_block .wp-block-group__inner-container > ul,
.widget > ul {
	margin-top: 0;
}

.widget_block .wp-block-group__inner-container > ul > li:last-child a {
	border-bottom: none;
	padding-bottom: 0;
}
.wp-block-latest-comments {
	.wp-block-latest-comments__comment-meta {
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
	}
	.wp-block-latest-comments__comment {
		line-height: 1.6;
	}
}

.wp-block-latest-posts__featured-image img {
	float: left;
	width: 100px;
	margin-right: 12px;
	border-radius: 8px;
	display: inline-block;
}
.wp-block-latest-posts {
	.wp-block-latest-posts__post-title {
		color: $body_color;
		line-height: 1.2;
		font-weight: 500;
	}
	&.wp-block-latest-posts__list {
		li {
			margin-bottom: 16px;
		}
	}
}
ol.wp-block-latest-comments {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
}

ol.wp-block-latest-comments li:last-child {
	margin-bottom: 0;
}

/*------ Recent Comments ------*/

.widget_recent_comments {
	ul {
		li {
			margin-bottom: 12px;
			a {
				border-bottom: none;
				padding: 0;
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
}

/*---- RSS ------*/
.widget_rss {
	.widget-heading {
		img {
			margin-top: -3px;
		}
	}
	ul {
		li {
			margin-bottom: 12px;
			.rsswidget {
				display: block;
				margin-bottom: 8px;
				font-weight: 600;
				line-height: 1.4;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


/*--------- Text Widget ---------*/

.widget_text .widget-heading {
	margin-bottom: 15px;
}

.widget_text select {
	margin-top: 0;
}

/*------ Select ----------*/
.widget select {
	background-color: $white_color;
	border: 1px solid $border_color;
	border-radius: 6px;
	padding: 16px 13px;
	width: 100%;
	outline: none;
	appearance: none;
	background-size: 10px;
	background-image: url(../images/select-arrow.svg) !important;
	background-repeat: no-repeat;
	background-position: 95%;
	transition: all ease 0.31s;
}

/*------ Calender ----------*/

.wp-calendar-table {
	caption {
		caption-side: top;
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 1;
		text-align: center;
		background-color: $gray10;
	}
	td {
		padding: 0;
		text-align: center;
		line-height: 32px;
		a {
			font-weight: 600;
		}
	}
	td#today, a {
		color: #fff;
		background-color: $primary_color;
	}
}

//About Widget
.widget_shopbuilderwp_about {
	.about-logo a {
		font-size: 36px;
		font-weight: 600;
	}
}

//Contact Widget
.widget_shopbuilderwp_contact {
	ul {
		padding: 0 30px;
	}
	ul li {
		display: flex;
		align-items: flex-start;
		&.phone-no {
			font-size: 20px;
			font-weight: 600;
		}
	}
	li [class*=rticon-] {
		flex: 0 0 30px;
		padding-top: 4px;
		justify-content: start;
	}
	li svg {
		fill: $primary_color;
	}
	li p {
		margin: 0;
	}
}

//Download Widget
.download-widget {
	.rt-download {
		.link {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 15px;
			border-radius: 6px;
			padding: 20px 30px;
			color: $button_text_color;
			background-color: $tertiary_color;
			&:hover {
				.icon {
					i {
						animation: rtDown 2s linear infinite;
					}
				}
			}
		}
		.text {
			display: inline-flex;
			align-items: center;
			column-gap: 10px;
		}
		i {
			display: block;
			font-size: 24px;
		}
	}
}
