button {
	@include transition_default();
	cursor: pointer;
}

.btn {
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	font-size: 15px;
	font-weight: 600;
	border-radius: 10px;
	padding: 16px 26px;
	line-height: 1;

	&:active {
		box-shadow: none;
	}

	&:focus {
		outline: none;
	}

	&.btn-xl {
		$xl_size: $base_fs + 8;
		padding: ($base_fs+8) ($base_fs + 16);
		@include font_size($xl_size, $xl_size);
	}

	&.btn-lg {
		$lg_size: $base_fs + 2;
		padding: ($base_fs + 2) ($base_fs + 8);
		@include font_size($lg_size, $lg_size);
	}

	&.btn-sm {
		$lg_size: $base_fs - 3;
		padding: ($base_fs - 4) ($base_fs + 4);
		@include font_size($lg_size, $lg_size);
	}

	&.btn-xs {
		$lg_size: $base_fs - 6;
		padding: ($base_fs - 5) ($base_fs + 2);
		@include font_size($lg_size, $lg_size);
	}

}

//Button style
.btn-primary {
	@include button_style($white_color, $primary_color, $secondary_color);
}

.btn-secondary {
	@include button_style($white_color, $secondary_color, rgba($secondary_rgb, 0.8));
}

.btn-light {
	@include button_style($white_color, $meta_color, $primary_color);
}

.btn-gray {
	@include button_style($white_color, $meta_color, $primary_color);
}
.rt-button .btn {
	column-gap: 10px;
	i {
		font-size: 12px;
		display: inline-block;
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover {
		i {
			transform: translateX(5px);
		}
	}
}
// button 1
.button-1 {
	color: $button_text_color;
	background-color: $primary_color;
	.elementor-button-wrap {
		display: inline-flex;
		gap: 10px;
	}
	&:hover {
		color: $button_text_color;
		background-color: $secondary_color;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	}

}
// button 2
.rt-button .button-2 {
	color: $button_text_color;
	&:hover {
		color: $button_color;
	}
}