
/*============================
# Review Schema Style
=============================*/
.rtrs-review-wrap {
	border-radius: 4px;
	padding: 25px 30px 30px;
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
}

.rtrs-review-wrap .rtrs-sorting-bar {
	background-color: #fff;
	padding: 0;
}

.rtrs-review-wrap .rtrs-sorting-bar .rtrs-sorting-select select {
	padding: 7px 32px 5px 13px;
	box-shadow: none;
	border: 1px solid #eaeaea;
}

.rtrs-review-wrap .rtrs-sorting-bar .rtrs-sorting-title {
	font-size: 18px;
	font-weight: 500;
}

.rtrs-review-wrap .rtrs-review-box .rtrs-each-review {
	padding: 23px 25px 24px !important;
	background: transparent !important;
	border: 1px solid #eaeaea;
	border-radius: 4px;
}

.rtrs-review-wrap .rtrs-review-box .rtrs-review-body .rtrs-reply-btn .rtrs-item-btn {
	background-color: var(--rt-primary-light3, #EAF7F4) !important;
	color: var(--rt-primary-color) !important;
}

.rtrs-review-wrap .rtrs-review-box .rtrs-review-body .rtrs-reply-btn .rtrs-item-btn:hover {
	background-color: var(--rt-primary-dark) !important;
	color: #fff !important;
}

.rtrs-review-wrap .rtrs-review-box .rtrs-review-body .rtrs-review-title {
	margin: 0 0 8px;
}

.rtrs-review-wrap .rtrs-review-box .rtrs-review-body p {
	margin-bottom: 0 !important;
}

.rtrs-review-wrap .rtrs-review-box .rtrs-review-body .rtrs-reply-btn {
	padding: 0 !important;
}

body .rtrs-review-form {
	background-color: transparent !important;
	padding: 0 !important;
}

.rtrs-review-wrap .rtrs-paginate {
	margin: 0 0 10px !important;
}

.rtrs-review-wrap .rtrs-review-form .rtrs-rating-category li {
	margin-bottom: 0 !important;
}

.rtrs-review-wrap .rtrs-review-form .rtrs-rating-category li {
	line-height: 2 !important;
}

.rtrs-review-wrap .rtrs-review-form .rtrs-form-group {
	margin-bottom: 20px !important;
}

.rtrs-review-wrap .rtrs-review-form .rtrs-form-group.rtrs-submit-button {
	margin-bottom: 0 !important;
}

.rtrs-review-wrap .rtrs-review-form .rtrs-form-group input[submit] {
	margin-bottom: 0 !important;
}

.rtrs-review-wrap .rtrs-review-form .rtrs-form-group .rtrs-submit-btn {
	background-color: var(--rt-primary-color) !important;
}

.rtrs-review-wrap .rtrs-review-form .rtrs-form-group .rtrs-submit-btn:hover {
	background-color: var(--rt-primary-dark) !important;
}

.rtrs-review-box .rtrs-review-body .rtrs-review-meta li {
	margin-bottom: 0 !important;
}

.rtrs-summary {
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)) !important;
}

.rtrs-summary .rtrs-progress-wrap .rtrs-progress {
	margin-bottom: 10px !important;
}

.rtrs-summary .rtrs-progress-wrap .rtrs-progress label {
	margin-bottom: 0 !important;
}

.rtrs-summary .rtrs-progress-wrap {
	padding: 20px 30px 10px !important;
}

.rtrs-summary .rtrs-progress-wrap progress::-webkit-progress-value {
	background: var(--rt-primary-color) !important;
}

.rtrs-summary .rtrs-progress-wrap progress::-moz-progress-bar {
	background: var(--rt-primary-color) !important;
}

.rtrs-summary .rtrs-progress-wrap progress::-webkit-progress-bar {
	background: #C7E6DE !important;
}

.rtrs-summary .rtrs-progress-wrap progress {
	color: var(--rt-primary-dark) !important;
}

.rtrs-review-box .rtrs-review-body .rtrs-review-meta .rtrs-review-date i:before {
	color: var(--rt-primary-color) !important;
}

