body {
	font-family: $base_font;
	font-weight: 500;
	@include font_size($base_fs);
	background-color: $body_bg_color;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading_font;
	margin: 0 0 15px 0;
	font-weight: 700;
	color: $title_color;
}

// Headings
h1,
.h1 {
	@include font_size(44px, 54px);
}

h2,
.h2 {
	@include font_size(36px, 42px);
}

h3,
.h3 {
	@include font_size(28px, 36px);
}

h4,
.h4 {
	@include font_size(22px, 28px);
}

h5,
.h5 {
	@include font_size(18px, 24px);
}

h6,
.h6 {
	@include font_size(14px, 18px);
}

small,
.small {
	@include font_size(15px);
}

// alignments
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

// Modifiers
.text-bold {
	font-weight: 700;
}

.text-semibold {
	font-weight: 600;
}

.text-uppercase {
	text-transform: uppercase;
}

.no-line-height {
	line-height: 1em !important;
}
